.section#about
  h1=about.h1
  .l-constrained.l-section
    p=about.h1Copy
    img.large-icon(src='#{images}images/logo-chinasf.png', height='230', width='520')
    p=about.chinaSFCopy
    img.large-icon(src='#{images}images/csf-asset-logo-syncus.png', height='141', width='405')
    p=about.syncusCopy