.section#home
	.banner
		img(src="#{images}images/csf-asset-logo-hero.png" width="400" height="237.5")
		.banner__head=home.heroSubHead
		.banner__date=home.when

	.l-section.l-constrained
			img.large-icon(src='#{images}images/chinasf---icon-0.png', height='177', width='160')
			h1=home.headline
			p=home.describe
	.l-section.l-constrained
		h1=home.subSectionHead
		p=home.subSectionCopy
		ul.l-split
			li
				img(src='#{images}images/chinasf---icon-1.png', height='150', width='150', alt='')
				p=home.techCopy
			li
				img(src='#{images}images/chinasf---icon-2.png', height='150', width='150', alt='')
				p
					p=home.servicesCopy
			