.section#location
  img.large-icon(src="#{images}images/csf-icon-location.png" height="100.5" width="100.5")
  h1=locate.h1
  .l-section.l-constrained
    .media
      .media__title=locate.venueTitle
      p=locate.venueCopy1
      p=locate.venueCopy2
      p=locate.venueCopy3
      iframe(src=locate.venueMapURL width="100%" height="250" frameborder="0" style="border:0" allowfullscreen)
    .l-split
      .media
        .media__title=locate.visaTitle
        p !{locate.visaCopy}
        //h=216 w=420
        img(src='#{images}images/csf-asset-visa.png' height='100%' width='100%')
      .media
        .media__title=locate.bookingTitle
        p !{locate.bookingCopy}
        img(src='#{images}images/csf-asset-hotel.png' height='100%' width='100%')
