.section#speakers
  .l-section.l-constrained
    h1 Speakers
    ul.l-split.wrap.speaker
      li
        img.img-circle(src='#{images}images/speaker-edwinlee.jpg' height="300px" width="300px")
        p.media__title=speakers.ed
        p=speakers.edTitle
        p=speakers.edDesc
      li
        img.img-circle(src='#{images}images/speaker-ronconway.jpg' height="300px" width="300px")
        p.media__title=speakers.ron
        p=speakers.ronTitle
        p=speakers.ronDesc
      li
        img.img-circle(src='#{images}images/speaker-jaynath.jpg' height="300px" width="300px")
        p.media__title=speakers.jay
        p=speakers.jayTitle
        p=speakers.jayDesc
      li
        img.img-circle(src='#{images}images/speaker-edithyeung.jpg' height="300px" width="300px")
        p.media__title=speakers.edith
        p=speakers.edithTitle
        p=speakers.edithDesc
      li
        img.img-circle(src='#{images}images/speaker-keithrabois.jpg' height="300px" width="300px")
        p.media__title=speakers.keith 
        p=speakers.keithTitle
        p=speakers.keithDesc
      li
        img.img-circle(src='#{images}images/speaker-lukeiseman.jpg' height="300px" width="300px")
        p.media__title=speakers.luke
        p=speakers.lukeTitle
        p=speakers.lukeDesc
      li
        img.img-circle(src='#{images}images/speaker-michaelkorcuska.jpg' height="300px" width="300px")
        p.media__title=speakers.michaelK
        p=speakers.michaelKTitle
        p=speakers.michaelKDesc
      li
        img.img-circle(src='#{images}images/speaker-michaelmasserman.jpg' height="300px" width="300px")
        p.media__title=speakers.michaelM
        p=speakers.michaelMTitle
        p=speakers.michaelMDesc
      li
        img.img-circle.center(src='#{images}images/speaker-markmclaughlin.jpg' height="300px" width="300px")
        p.media__title=speakers.markM
        p=speakers.markMTitle
        p=speakers.markMDesc
      li
        img.img-circle.center(src='#{images}images/speaker-xeno.jpg' height="300px" width="300px")
        p.media__title=speakers.xeno
        p=speakers.xenoTitle
        p=speakers.xenoDesc
        p    

    ul.l-split.wrap.speaker
      li
        p
          span.media__title=speakers.tony
          span=speakers.tonyTitle
        p
          span.media__title=speakers.hope
          span=speakers.hopeTitle
        p
          span.media__title=speakers.jack
          span=speakers.jackTitle
        p
          span.media__title=speakers.richard
          span=speakers.richardTitle
        p
          span.media__title=speakers.helen
          span=speakers.helenTitle
        p
          span.media__title=speakers.bo
          span=speakers.boTitle
        p
          span.media__title=speakers.john
          span=speakers.johnTitle
        p
          span.media__title=speakers.stella
          span=speakers.stellaTitle
        p
          span.media__title=speakers.chaomei
          span=speakers.chaomeiTitle
      li.l-split.wrap.speaker
        p
          span.media__title=speakers.zhihan
          span=speakers.zhihanTitle
        p
          span.media__title=speakers.rob
          span=speakers.robTitle

        p
          span.media__title=speakers.seth
          span=speakers.sethTitle
        p
          span.media__title=speakers.rons
          span=speakers.ronsTitle
        p
          span.media__title=speakers.zhen
          span=speakers.zhenTitle
        p
          span.media__title=speakers.chisoo
          span=speakers.chisooTitle
        p
          span.media__title=speakers.steve
          span=speakers.steveTitle
        p
          span.media__title=speakers.matt
          span=speakers.mattTitle
        p
          span.media__title=speakers.xiaoling
          span=speakers.xiaolingTitle
        p
          span.media__title=speakers.mark
          span=speakers.markTitle

