.section#sponsor
    h1=sponsor.h1
  .l-section.l-constrained
    img.large-icon(src='images/csf-icon-sponsors.png' height="100.5" width="100.5")
    p !{sponsor.h1Copy}
  .l-section.l-constrained
    h1=sponsor.h2
    img.large-icon(src='images/csf-icon-exhibit.png' height="100.5" width="100.5")
    p=sponsor.h2Copy
    .l-split
      a(href='https://continuumsf.wufoo.com/forms/z24x9uh1tboczn/')
        .media.topborder
          .boothimage
          .media__title=sponsor.boothName
          p=sponsor.boothSize
          p=sponsor.boothCopy
          .media__button APPLY

      a(href='https://continuumsf.wufoo.com/forms/mw702z0x8snqp/')
        .media.topborder
          .tableimage
          .media__title=sponsor.tableName
          p=sponsor.tableSize
          p=sponsor.tableCopy
          .media__button APPLY

