.section#sponsor
    h1=sponsor.h1
  .l-section.l-constrained
    img.large-icon(src='#{images}images/logos-sponsors.png' height="226px" width="635px")
    h1=sponsor.media
    img.large-icon(src='#{images}images/logos-media.png' height="303px" width="500px")
    img.large-icon(src='#{images}images/csf-icon-sponsors.png' height="100.5px" width="100.5px")
    p !{sponsor.h1Copy}
  .l-section.l-constrained
    h1=sponsor.h2
    img.large-icon(src='#{images}images/csf-icon-exhibit.png' height="100.5" width="100.5")
    p=sponsor.h2Copy
    .l-split
      a(href=sponsor.boothWuFoo)
        .media.topborder
          .boothimage
          .media__title=sponsor.boothName
          p=sponsor.boothSize
          p=sponsor.boothCopy
          .media__button=sponsor.apply

      a(href=sponsor.tableWuFoo)
        .media.topborder
          .tableimage
          .media__title=sponsor.tableName
          p=sponsor.tableSize
          p=sponsor.tableCopy
          .media__button=sponsor.apply

